:root {
  --md-primary-fg-color: #FF007A;
  --md-primary-fg-color--light: #FF4D9E;
  --md-primary-fg-color--dark: #CC0062;
  --md-accent-fg-color: #71FF05;
  --md-accent-fg-color--transparent: #71FF0520;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #FF007A;
  --md-primary-fg-color--light: #FF4D9E;
  --md-primary-fg-color--dark: #CC0062;
  --md-accent-fg-color: #71FF05;
  --md-accent-fg-color--transparent: #71FF0520;
}
